.HeaderSecion{
    display: flex;
}

.icons{
    margin-top: 10px;
}

.icon {
    flex: 1;
    align-items: right;
    display: inline-block;
    margin-left: 2px;
 }

 .Search {
    margin: 0 auto;
 }
 
 .SearchBar {
    margin: 0 auto;
     margin-top: 15px;
    border-radius: 2px;
    background-color: rgb(250, 249, 249);
    border: rgba(80, 80, 80, 0.623) 1px solid;
    align-content: center;
    padding: 0 auto;
    text-align: center;
 }

 .instaLogo {
     margin-left: 20px;
    align-self: flex-start;
 }

 .avatarIcon {
     border: double;
     border-radius: 15px;
     margin-right: 10px;
 }

 